Manim/media/Tex/
Manim/media/images/
Manim/media/texts/
Manim/media/videos/manim_tutorial001/480p15/
Manim/media/videos/test001/
Manim/media/videos/test002/
Manim/media/videos/test003/
Manim/media/videos/test004/

Quote_image/.gitignore
Quote_image/.python-version
Quote_image/README.md
Quote_image/pyproject.toml
Quote_image/quote_malangmalang.png
Quote_image/quotes.txt
Quote_image/quotes_images/
Quote_image/uv.lock

font_list/.python-version
font_list/README.md
font_list/font_list.txt
font_list/pyproject.toml
font_list/uv.lock

# VSCode settings
# IDE 및 에디터 설정 폴더 무시
.vscode/
.idea/
.dist/

# Python 캐시 폴더 및 파일 무시
__pycache__/
*.pyc
**/__pycache__/
**/*.pyc



TK_Countdown.spec
build/
dist/
.gitignore.bak